name: CompatHelper

on:
  schedule:
    - cron: '00 00 * * *'
  workflow_dispatch:
jobs:
  CompatHelper:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.3
      - name: Install CompatHelper
        shell: julia --color=yes {0}
        run: using Pkg; Pkg.add("CompatHelper")
      - name: Run CompatHelper
        shell: julia --color=yes {0}
        run: using CompatHelper; CompatHelper.main(; master_branch = "dev")
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
